button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin:0 auto;
    margin-top: 10px;
    border-radius: 20px 20px;
    cursor: pointer;
    background-color: blue;
    color: #FFf;
    font-size: 20px;
    font-weight: 700;
}
button:hover{
    background: rgb(32, 231, 32);
}
